* {
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: red;
    overflow: auto;
    
    font-size: 60px;
}
 
.aside {
    position: fixed;
    background-color: green;
    width: 100px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    font-size: 40px;
}


.main {
    aspect-ratio:2/1;
    margin-top: 80px;
    margin-left: 100px;
   
}



.main img{
    aspect-ratio: 1/1;
    object-fit: cover;
}