
* {
  margin: 0;
  padding: 0;
}
:root {
  --color--header-border: rgb(248, 6, 6);
  --color--header: white;
  --color--bacground: red;
  --space--header:clamp(5px, 0vw, 10px);
  --font--header: 1.15rem;

}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(54, 52, 52);
  align-items: center;
  padding: var(--space--header);
  color: var(--color--header);
  font-size: var(--font--header);

}

.header__nav {
  display: flex;
  gap: 10px

}

.header__link {
  position: relative;
  text-decoration: none;
  color: var(--color--header);
  padding: var(--space--header);
  border: 1px var(--color--header-border) solid;
  transition: background-color 0.3s, transform 0.2s;
}

.header__logo {
  padding: 6px;
}

.header__button {
  border-radius: 100px;
  padding: 2px 30px;
  transition: 0.5s;
  box-sizing: border-box;
  
}
.header__button:hover{
  background-color: black;
  color: var(--color--header);
  
}

.header__button:active{
  transform: scale(0.95);
}
.header__input {
  padding: 0 var(--space--header);
  border: 2px var(--color--header) solid;
  border-radius: 100px;

}

.header__input:focus {
  outline: none;
  box-shadow: 0 0 3px var(--color--header-border);
}
.header__search {
  display: flex;
  gap: 5px;
  align-items: center;
}

.header__link {
  font-size: 1.25em;
}
.header__link:hover {
  background-color: var(--color--bacground);
}

.header__link:hover::after {
  position: absolute;
  content: "";
  bottom: -4px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color--header);
}

.header__link:active {
  transform: translateY(-4px) scale(0.90);
  background-color: rgb(44, 39, 39);
  color: var(--color--header-border);
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-wrap: wrap;

  }

  .header__logo {
    flex-basis: 100%;
    
  }
  .header__nav {
    flex-direction: column;
  }

  }

  .header__search {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }
   